body {
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    background-color: rgba(255, 251, 218, 0.781);
    padding-left: 20px;
    /*드래그 방지*/
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Patrick Hand', cursive;
}

#my_profile {
    font-family: 'Itim', cursive;
    font-size: 23px;
}

a:hover {
    color: lightpink;
}

#singer {
    background-color: rgba(182, 210, 252, 0.61);
    width: 370px; height: auto;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px gray;
}

#lyrics {
    font-family: 'Single Day', cursive;
}

#img {
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
}

button {
    width:50px; height: 40px;
    background-color: rgb(255, 171, 92);
    border-radius: 70px;
    border: 3px solid rgb(255, 111, 92);
}

button:hover {
    cursor:pointer;
    background-color: rgb(255, 133, 20);
    box-shadow: 2px 2px 2px 2px lightgray;
}

#music {
    background-color: rgb(255, 190, 190);
    border-radius: 5px;
}

#profile {
    display: flex;
}

#profile_img {
    padding-top: 10px;
    width: 200px;
}

#my_profile {
    width: 500px;
}

#family {
    display: flex;
}

#family_members {
    width: 180px;
    text-align: center;
}

#travel {
    display: flex;
}

#trip {
    width: 180px;
    text-align: center;
    padding-bottom: 10px;
}

#friends {
    display: flex;
}

#friends_members {
    width: 180px;
    text-align: center;
    padding-right: 30px;
    padding-bottom: 10px;
}

#food {
    display: flex;
}

#favorite_food_list {
    width: 180px;
    text-align: center;
}

#btn_favorite_things_open {
    width: 65px;
    border-radius: 5px;
    border-color: rgb(255, 165, 202);
    background-color: rgba(255, 215, 245, 0.884);
}

#btn_favorite_food_open {
    width: 65px;
    border-radius: 5px;
    border-color: rgb(255, 165, 202);
    background-color: rgba(255, 215, 245, 0.884);
}


#top {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    width: 50px;
    text-align: center;
    background-color: rgba(248, 233, 101, 0.685);
    border-radius: 10px;
}

html{
    scroll-behavior: smooth;
}

#favorite_singer {
    display: flex;
}

#favorite_singer_img {
    width: 180px;
    padding-top:55px;
}

#btn_sj_lyrics {
    width: 80px; height: 30px;
    border-radius: 5px;
    border-color: rgb(255, 234, 118);
    background-color: rgba(255, 254, 190, 0.829);
}

#btn_IU_lyrics {
    width: 80px; height: 30px;
    border-radius: 5px;
    border-color: rgb(255, 234, 118);
    background-color: rgba(255, 254, 190, 0.829);
}

#strawberry_moon_lyrics_part:hover {
    background-color:rgba(225, 174, 255, 0.322) ;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: max-content;
}

#warning_lyrics_part:hover {
    background-color:rgba(255, 174, 241, 0.322) ;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: max-content;
}

/*하트 라인*/

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #bbb;
    font-size: 12px;
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: #bbb;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }